<!doctype html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
    
    {% endblock title %}
  </title>
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href='{% static "bootstrap-5.2.1/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "scripts/css/spinstyle.css" %}'>
  {% block styles %}
  {% endblock styles %}

</head>
{% include 'gl/navbar.html' %}
<body>
  {% include 'gl/modalUpload.html' %}
  <!-- your content here... -->
  <div class="container text-center">
    
        
        {% block content %}

        {% endblock content %}
    
</div>

<div class="footer"> <div>Stat </div> [{% if timeanswer %} <div>{{ timeanswer }}sec.</div>{% endif %}|<div> Записей: {{ countleadrows }} </div> ]</div>
  {% block scripts %}

  {% endblock scripts %}

  {% include 'gl/notify_main.html' %}
 
  <script src='{% static "bootstrap-5.2.1/js/bootstrap.min.js" %}'></script>

  <script type="module" src='{% static "scripts/mainscript.js" %}'></script>
</body>
</html>
