<nav class="navbar navbar-dark bg-black nb">
    <div class="container-fluid  justify-content-between ">
        {% if user.is_authenticated %}
        <div class="nav-element-group d-flex">
            <button id="uploadModalButton" type="button" class="btn btn-success p-2 flex-shrink-1" data-bs-toggle="modal" data-bs-target="#upload" style="width:70px;font-size:0.7em;">Загрузить</button>
            <button type="button" class="btn btn-primary flex-shrink-1 p-2" id="updateModalOpen" data-bs-toggle="modal" data-bs-target="#upload" style="width:70px;font-size:0.7em;">Обновить</button>

             <form class="input-group flex-grow-1" style="margin-right:10px; min-width:167px;"  title="Окно тишины в днях" method="get" action="/crm/">
                <label for="silentwindow" class="input-group-text" id="inputGroup-sizing-sm"style="font-size:1em;">Окно</label>
                <input name="w" id="silentwindow"  type="number" class="form-control" placeholder="Окно тишины" min="1" step="1" aria-label="Окно тишины" style="min-width:30px; max-width:100px;">
                <button type="submit" class="btn btn-outline-secondary" style="width:50px;">Go</button>
             </form>

<!--
             <select class="form-select" aria-label="Default select example" style="max-width:300px;">
              <option value="1">КЦ Калинка</option>
              <option value="2">КЦ Журавлина</option>
              <option value="3">КЦ Бела-бяреза</option>
            </select>
          -->
        </div>
        
        

        <div>
            <div class="spinner-grow text-primary spinner-grow-sm" role="status" id="sendstatusspiner" style="margin-right:5px;">
                <span class="visually-hidden">Loading...</span>
              </div>
            <span id="leadsCountForSend" class="leadsCountForSend">  </span>
        </div>
        <div>
        <a href="{% url 'admin:index' %}crm/log/" style="margin-right:5px;">Logs</a>
        <a href="{% url 'admin:index' %}" style="margin-right:5px;">Admin</a>
        <a href="http://127.0.0.1:8000/accounts/logout/">Log out</a>
        </div>
        {% endif %}
    </div>
    
</nav>