*.sqlite3
**.vscode
**/crm/migrations/0*.py
**/leadsite/.env

!*.d.ts

**/__pycache__
**/script.js
./addLeads
*.sock
**/leadsite/setting.py
leadsite/settings.py
leadsite/settings.py
**/gith
**/gith.pub